1. what are the difference between operators and values in the following?
*
'hello'
-87.8
-
/
+
6

In [ ]:
ans:- operators are[ *, - , / , + ]    
    and
    values are[ 'hello', -87.8 , 6]

2. what are the difference between string and variable?
spam
'spam'

In [ ]:
ans: string= 'spam'
    variable= spam

3. describes three different data forms.

In [ ]:
ans: the three different data forms are "Numeric","string" and " boolen".
    numeric means contain all the number.   #1,2,3,4,5....etc
    string means all the text value.      #'rama','hari','rajiba',.....etc.
    boolen means it gives true or false statement.  # True, False

4. what makes up an expression? what are the functon of all expressions?

In [ ]:
ans: expression is a sentence with a minimum of two numbers and at least one math operation.
    This math operation can be addition, subtraction, multiplication, and division. the function of all the expression is 
    'closed braket' i.e '()' .

5. in this chapter, assignment statement such as spam=10 were added. what's the difference between a declairation and expression?

In [ ]:
ans: In the exmple 'spam= 10'. Here expression is '10' and declairation is 'spam'.
    expression is representing of values where as declairation representing like variables.

6. After running the following code. what does the variable bacon contain?
  bacon= 22
  bacon+1

In [ ]:
ans:bacon= 22
    bacon+1 = 23

7. What should be the values of the following two terms be?
   'spam'+'spamspam'
   'spam'*3

In [ ]:
ans: both of the values are same
    "spamspamspam"

8. Why is it that eggs is a true variable name but 100 is not?

In [ ]:
ans: Variable names cannot begin with a number. so,eggs is a true variable name while 100 is invalid for variable.

9.which of the following three function may used to convert a value to an integer, 
a floating-point number, or a string?

In [ ]:
ans: Floating-point number

10. What is the error caused by this expression?what would you do about it?

  'i have eaten'+99+'burritos.'

In [ ]:
ans: The error is a type error. because we cannot concatenate a string with a number. so, the error happend. 
    first of all we change integer to a string then we can easily acess it.
   ex:- ' i have eaten' + str(99) + 'burritos.'